// j'importe une bibliotheque de mixin
// elle me sert a definir certains element css redondant afin de garder une unité sur l'ensemble de l'application
// il suffit de les appeler comme suit :
// @include nomDeLaMixin();
// le contenu de la mixin sera alors ajouté à l'endroit ou elle est appelé
@import 'mixins';

* {
  box-sizing: border-box;
}
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
ul,
li,
a {
  text-decoration: none;
  list-style: none;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  @media (max-width: 500px) {
    height: auto;
    overflow: auto;
    overflow-x: hidden;
  }
}
h1 {
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
  margin-bottom: 45px;
  @media (max-width: 500px) {
    margin-bottom: 20px;
  }
}

.board {
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  // je calcule la taille necessaire a mon board;
  // on a 36 carte en tout (18 paires) donc 4 ligne de 9
  // qui font 100px de large
  // j'y rajoute 5px de marge sur les côté
  width: calc(9 * 100px + 9 * 10px);
  margin: 0 auto;
  background: rgb(133, 133, 133);
  display: none;
  &.display {
    display: flex;
  }
  .win,
  .lose {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    &.display {
      display: flex;
    }
    .win_animation {
      width: 50%;
    }
  }
  .game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    &.disable {
      &::after {
        content: '';
        @include absolute;
        background: #434343;
        opacity: 0.7;
        filter: blur(107px);
      }
    }
    .item {
      position: relative;
      width: 100px;
      height: 100px;
      margin: 5px;
      cursor: pointer;
      overflow: hidden;
      perspective: 1000px;
      .card {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        img {
          @include absolute;
          -webkit-backface-visibility: hidden; /* Safari */
          backface-visibility: hidden;
          &.back {
          }
          &.front {
            width: 100%;
            transform: rotateY(180deg);
            bottom: unset;
            @for $i from 0 through 17 {
              &.card_#{$i} {
                top: calc(0px - #{$i * 100px});
              }
            }
            @media (max-width: 1000px) {
              $size: 75px;
              @for $i from 0 through 17 {
                &.card_#{$i} {
                  top: calc(0px - #{$i * 75px});
                }
              }
            }
          }
        }
      }
      &.turned,
      &.valid {
        .card {
          transform: rotateY(180deg);
        }
      }
    }
  }

  @media (max-width: 1000px) {
    width: calc(9 * 75px + 9 * 4px);
    .game {
      .item {
        width: 75px;
        height: 75px;
        margin: 2px;
      }
    }
  }
  @media (max-width: 500px) {
    width: calc(4 * 75px + 4 * 4px);
  }
}
.progressBar {
  position: relative;
  height: 20px;
  width: calc(9 * 100px + 9 * 10px);
  margin: 0 auto;
  margin-top: 20px;
  background: rgb(162, 162, 162);
  display: none;
  &.display {
    display: block;
  }
  .bar {
    position: absolute;
    width: 100%;
    height: 100%;
    // transition: width 0.5s linear;
    &.green {
      background: rgb(19, 162, 0);
    }
    &.orange {
      background: rgb(208, 125, 0);
    }
    &.red {
      background: rgb(208, 0, 0);
    }
  }
  @media (max-width: 1000px) {
    width: calc(9 * 75px + 9 * 4px);
    .game {
      .item {
        width: 75px;
        height: 75px;
        margin: 2px;
      }
    }
  }
  @media (max-width: 500px) {
    width: calc(4 * 75px + 4 * 4px);
  }
  @media (max-width: 400px) {
    margin-bottom: 20px;
  }
}
.introduction {
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &.remove {
    display: none;
  }
  .leaderBoard {
    width: 100%;
  }
  button {
    background: none;
    border: none;
    text-transform: uppercase;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid #000;
    background: transparent;
    padding: 5px 20px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: #151515;
      color: #fff;
    }
  }
}
