// j'importe une bibliotheque de mixin
// elle me sert a definir certains element css redondant afin de garder une unité sur l'ensemble de l'application
// il suffit de les appeler comme suit :
// @include nomDeLaMixin();
// le contenu de la mixin sera alors ajouté à l'endroit ou elle est appelé
@import 'mixins';

* {
  box-sizing: border-box;
}
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
ul,
li,
a {
  text-decoration: none;
  list-style: none;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.board {
  flex-direction: row;
  flex-wrap: wrap;
  // je calcule la taille necessaire a mon board;
  // on a 36 carte en tout (18 paires) donc 4 ligne de 9
  // qui font 100px de large
  // j'y rajoute 5px de marge sur les côté
  width: calc(9 * 100px + 9 * 10px);
  margin: 0 auto;
  background: rgb(133, 133, 133);
  display: none;
  &.display {
    display: flex;
  }
  .item {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    overflow: hidden;
    perspective: 1000px;
    .card {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.8s;
      transform-style: preserve-3d;
      img {
        @include absolute;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
        &.back {
        }
        &.front {
          transform: rotateY(180deg);
          bottom: unset;
          &.card_0 {
            top: 0;
          }
          &.card_1 {
            top: -100px;
          }
          &.card_2 {
            top: -200px;
          }
          &.card_3 {
            top: -300px;
          }
          &.card_4 {
            top: -400px;
          }
          &.card_5 {
            top: -500px;
          }
          &.card_6 {
            top: -600px;
          }
          &.card_7 {
            top: -700px;
          }
          &.card_8 {
            top: -800px;
          }
          &.card_9 {
            top: -900px;
          }
          &.card_10 {
            top: -1000px;
          }
          &.card_11 {
            top: -1100px;
          }
          &.card_12 {
            top: -1200px;
          }
          &.card_13 {
            top: -1300px;
          }
          &.card_14 {
            top: -1400px;
          }
          &.card_15 {
            top: -1500px;
          }
          &.card_16 {
            top: -1600px;
          }
          &.card_17 {
            top: -1700px;
          }
        }
      }
    }
    &.turned,
    &.valid {
      .card {
        transform: rotateY(180deg);
      }
    }
  }
}
.progressBar {
  position: relative;
  height: 20px;

  width: calc(9 * 100px + 9 * 10px);
  margin: 0 auto;
  margin-top: 20px;
  background: rgb(162, 162, 162);
  display: none;
  &.display {
    display: block;
  }
  .bar {
    position: absolute;
    width: 100%;
    height: 100%;
    // transition: width 0.5s linear;
    &.green {
      background: rgb(19, 162, 0);
    }
    &.orange {
      background: rgb(208, 125, 0);
    }
    &.red {
      background: rgb(208, 0, 0);
    }
  }
}
.introduction {
  &.remove {
    display: none;
  }
}
